#root {
  background: linear-gradient(45deg, #5f8671, #292627);
  --icon: #c4952a;
  --toolbar-color: #98a173;
    /* --bgcolor-main: #818962; */
  --bgcolor-box: darkgrey;
  --toolbar-bg: #292627;
  padding: 2em 0;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.editorWrap {
  border: 2px solid var(--toolbar-bg);
  width: 40vw;
  min-width: 450px;
  margin: 0 auto 1.5rem auto;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 8px 8px 8px var(--toolbar-bg);
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .2em .4em;
  font-family: arial black;
  color: var(--icon);
  background-color: var(--toolbar-bg);
  overflow: hidden;
  height: 2em;
}

#toolbar-text {
  color: var(--toolbar-color);
}

.maximize {
  font-size: 1.3rem;
}

.fa-ghost {
  transform: translateX(5em) scale(6) rotate(45deg);
  opacity: 60%;
}

#editor {
  width: 99%;
  min-height: 15em;
  margin-bottom: -4px;
  resize: vertical;
  border-style: none; 
  /* border-color: Transparent;  */
  overflow: auto;
  background-color: var(--bgcolor-box);
  border-bottom-left-radius: 6px;
  padding-left: 2px;
}

.previewWrap {
  border: 2px solid var(--toolbar-bg);
  border-radius: 8px;
  margin: 0 auto;
  width: 60vw;
  min-width: 550px;
  min-height: 25em;
  box-shadow: 0 0 8px var(--toolbar-bg);
}

#preview {
  background-color: var(--bgcolor-box);
  padding: 8px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: none;
}

a:visited {
  color: blue;
}

code {
  background-color: lightgrey;
}

p:last-of-type {
  margin-bottom: 0;
}

p:first-of-type {
  margin-top: 0;
}

span:hover {
  color: lightgrey;
}

span:active {
  color: white;
}

img {
  max-height: 3em;
  max-width: 3em;
  display: block;
  margin: auto;
}

@media (max-width: 550px) {
  .previewWrap, .editorWrap {
    width: 100vw;
  }
}